.App {
  text-align: center;
  background-color: #4292e7;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /*display: block;*/
}

.container {
  margin: 0 auto;
  width: 80%;
}

.inputText {
  padding: 0.5em;
  height: 2em;
  width: 50%;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.addButton {
  padding: 1em 2.5em 1em 2.5em;
  color: white;
  background: transparent;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
}
.containerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.itemList {
  display: flex;
  flex-basis: 50%;
  background-color: #fff3cd;
  width: 50%;
  color: #856404;
  margin-top: 10px;
  border-radius: 5px;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.itemList p {
  width: 70%;
}

.itemList button {
  border: 0;
  background-color: #ff7878;
  color: white;
  height: 50%;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 5px;
}

